{% extends "base.html" %}

{% block title %} Adicionar montadora {% endblock %}

{% block content %}



<div class="h-full flex justify-center items-center">

  <form class="block flex flex-col gap-4 w-96 p-6 bg-blue-300 border border-white border-2 rounded-lg  shadow dark:border-white border-dashed" action="{% url 'montadora_create' %}" method="post">
    {% csrf_token %}
    <h5 class="mb-2 text-3xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Nova montadora</h5>
    <!-- {{ form.as_p }} -->
    <input class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg text-xs focus:ring-blue-500 focus:border-blue-500" type="text" name="name" placeholder="Nome..."></input>
    <input class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg text-xs focus:ring-blue-500 focus:border-blue-500" type="text" name="country" placeholder="País"></input>
    <input class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500" type="number" name="foundation_year" placeholder="Ano de fundação"></input>
    <input class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500" type="text" name="avatar_url" placeholder="HREF para a logo"></input>
   <!-- class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" -->
    
    <!-- <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="text" name="name" placeholder="Nome da Montadora.." />
    <input  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="text" name="country" placeholder="Pais..." />
    <input  
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      type="text"
      name="foundation_year"
      placeholder="Ano da Montadora"
    /> -->
    <input value="ENVIAR" type="submit" class="text-yellow-300 font-bold bg-[#1da1f2] hover:bg-[#1da1f2]/90 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 me-2 mb-2 w-full" id="submitBtn"/>
     <!-- <wired-button id="wiredSubmitBtn" elevation="3" type="submit" class="text-center text-amber-400 font-bold w-full flex justify-center items-center font-bold" >
       Salvar montadora
     </wired-button> -->
  </form>
</div>
{% endblock %}