{% extends "base.html" %}

{% block title %} Montadoras {% endblock %}

{% load static %} 
<!-- 
{% block extra_css %}
  <link rel="stylesheet" href="global.css">
{% endblock %} -->

{% block content %}
{% if object_list %}
<div>
  <h4 class="text-4xl text-center font-bold">Nossas montadoras</h4>
  <div class="flex items-center justify-center gap-3">
    {% for montadora in object_list %}
    <wired-card class="w-56 py-8 bg-white">
      <div class="flex justify-center items-center">
        {% if montadora.avatar_url %}
          <img width="50" height="80" src="{% static montadora.avatar_url %}" alt="Avatar da Montadora">
        {% endif %}
      </div>
      <h5 class="mb-2 text-2xl tracking-tight text-center text-gray-900">
  
        {{ montadora.name }}
      </h5>
      <!-- <a class="text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" href="/montadoras/editar/{{montadora.id}}">Editar</a> | <form class="inline" action="{% url 'montadora_delete' montadora.id %}"" method="post">{% csrf_token %}
      <input class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" type="submit" value="Deletar"> -->
    <!-- </form> -->
    </wired-card>
    {% endfor %}
  </div>
</div>
{% else %}
<div>Sem montadoras no momento...</div>
{% endif %}
<a href="/montadoras/criar" class="pointer">Adicionar montadora</a>
{% endblock %}
