<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atualizar montadora</title>
  </head>
  <body>
    <header>
      <h1>Atualizar montadora</h1>
    </header>
  </body>
  <main>
    <h2>Editar Montadora</h2>
    <form action="{% url 'montadora_edit' %}" method="post">
      {% csrf_token %}
      <input
        type="text"
        name="name"
        placeholder="Nome da Montadora.."
        value="{{montadora.name}}"
      />
      <input
        type="text"
        name="country"
        placeholder="Pais..."
        value="{{montadora.country}}"
      />
      <input
        type="text"
        name="foundation_year"
        placeholder="Ano da Montadora"
        value="{{montadora.foundation_year}}"
      />
      <!--Todo: como passar o id sem ser assim?-->
      <input 
        type="hidden"
        name="id"
        value="{{montadora.id}}"
      />
      <input type="submit" value="Salvar" />
    </form>
  </main>
</html>
